{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 120,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "spaceBeforeFunctionParen": true
}