receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  hostmetrics:
    collection_interval: 60s
    scrapers:
      cpu: {}
      load: {}
      memory: {}
      disk: {}
      network: {}
      filesystem: {}
processors:
  batch:
    send_batch_size: 1000
    timeout: 10s
  resourcedetection:
    detectors: [env, system]
    timeout: 2s
    system:
      hostname_sources: [os]
exporters:
  clickhousetraces:
    datasource: "tcp://${CLICKHOUSE_USER:-default}:${CLICKHOUSE_PASSWORD}@${CLICKHOUSE_HOST:-clickhouse}:${CLICKHOUSE_PORT:-9000}/signoz_traces?secure=false"
  clickhousemetricswrite:
    endpoint: "tcp://${CLICKHOUSE_USER:-default}:${CLICKHOUSE_PASSWORD}@${CLICKHOUSE_HOST:-clickhouse}:${CLICKHOUSE_PORT:-9000}/signoz_metrics?secure=false"
    resource_to_telemetry_conversion:
      enabled: true
  clickhouselogsexporter:
    dsn: "tcp://${CLICKHOUSE_USER:-default}:${CLICKHOUSE_PASSWORD}@${CLICKHOUSE_HOST:-clickhouse}:${CLICKHOUSE_PORT:-9000}/signoz_logs?secure=false"
    timeout: 10s
extensions:
  health_check:
    endpoint: 0.0.0.0:13133
  zpages: {}
service:
  extensions: [health_check, zpages]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [clickhousetraces]
    metrics:
      receivers: [otlp, hostmetrics]
      processors: [resourcedetection, batch]
      exporters: [clickhousemetricswrite]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [clickhouselogsexporter]
